{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% load static %}

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="description" content=""/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <title>DjangoBlog</title>
</head>
<body>
{% include 'header.html' %}
<div class="container">
    {% block content %}
    {% endblock %}
</div>
{% include 'footer.html' %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
$(document).ready(function(event){
    $(document).on('click', '#like', function(event){
        event.preventDefault();
        var post_id = $(this).attr('value');
        $.ajax({
            type: 'POST',
            url: '{% url "blog_app:like" %}',
            data: {'post_id': post_id, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
            dataType: 'json',
            success: function(response){
                $('#like').html(response['form'])
                console.log($('#like').html(response['form']));
            },
            error: function(rs, e){
                console.log(rs.responseText);
            }
        });
    });
    
    $(document).on('submit', '.comment-form', function(event){
        event.preventDefault();
        console.log($(this).serialize());
        $.ajax({
                type: 'POST',
                url: $(this).attr('action'),
                data: $(this).serialize(),
                dataType: 'json',
                success: function(response){
                $('.main-comment-section').html(response['form']);
            },
            error: function(rs, e){
                console.log(rs.responseText);
            },
        });
    });
});

</script>
</body>
</html>